@model Category
<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="container">
        <div class="row pb-2">
            <h2 class="text-primary">Delete category</h2>
        </div>
        <div class="col-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mt-2">
            <button type="submit"  class="btn btn-danger" style="width:150px">Delete</button>
            <a asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
        </div>
    </div>
</form>